version: '3.8'
services:

  #  Webmentions app
  wmapp:
    build:
      context: /var/projects
      dockerfile: server-configs/configs/wm/Dockerfile
    ports:
      - "3030:3030"
    env_file:
      - configs/wm/.env
    depends_on:
      - wmdb
    restart: always
    command: >
      bash -lc '
        until (echo > /dev/tcp/wmdb/5432) >/dev/null 2>&1; do
          echo "waiting for db";
          sleep 1;
        done;
        bun run prisma db push;
        bun run src/server/index.js
      '

  # Postgress for webmentions
  wmdb:
    image: postgres:17.2
    env_file:
      - configs/wm/.env
    volumes:
      - wm-db-data-17:/var/lib/postgresql/data
    restart: always

volumes:
  wm-db-data-17:
